fastapi
uvicorn[standard]
sqlalchemy>=2
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
fastapi-limiter
structlog
boto3
orjson
gunicorn
psycopg2-binary
sentry-sdk[fastapi]
prometheus-fastapi-instrumentator
