fastapi==0.111.1
uvicorn==0.30.3
psycopg2-binary==2.9.9
SQLAlchemy==2.0.32
pydantic-settings==2.4.0
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
astapi

uvicorn[standard]
sqlalchemy>=2
alembic
pydantic[email] # подтянет email-validator
pydantic-settings
python-jose[cryptography] # JWT
passlib[bcrypt] # хеш паролей; Argon2 можно добавить позже (argon2-cffi)
python-multipart # формы/файлы
redis # клиент для limiter
fastapi-limiter
structlog
boto3 
orjson
gunicorn 
psycopg2-binary 
sentry-sdk[fastapi]
prometheus-fastapi-instrumentator 