# Core Flask & API
APIFlask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
Flask-Bcrypt
Flask-JWT-Extended
alembic

# Database
psycopg2-binary

# Utilities
python-dotenv
marshmallow

# Production Server
gunicorn

# Production Goodies
flask-limiter
sentry-sdk[flask]
prometheus-flask-exporter
argon2-cffi
